
@font-face {
    font-family: 'RobotoSlab';
    font-weight: 200;
    font-display: swap;
    src: url('~assets/fonts/RobotoSlab.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab bold';
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/RobotoSlab.ttf') format('truetype');
}

@brand-color-blue: #0D67E5;
@text-color-2: #777D90;
@link-color: #0D67E5;

p {
    color: @text-color-2;
}

a {
    color: @link-color;
}

body {
    font-family: 'RobotoSlab','Verdana','Tahoma','Courier';
}

.text-color-2 {
    color: @text-color-2;
}

.brand-color-blue {
    color: @brand-color-blue;
}

