
@font-face {
    font-family: 'RobotoSlab';
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/RobotoSlab.ttf') format('truetype');
}

body {
    font-family: 'RobotoSlab','Verdana','Tahoma','Courier';
}

.text-biru-2 {
    color: #777D90;
}